<div class="container">
  <h2>Login Form</h2>
    <div class="form">
       <form>
         <div class="form-group col-lg-8">
              <label>Email</label>
             <input type="text" placeholder="email" class="form-control"/>
         </div>
         <div class="form-group col-lg-8">
             <label>password</label>
             <input type="text" placeholder="password" class="form-control"/>
         </div>
         <div class="form-group col-lg-8">
            <button class="btn btn-success">Login</button>
         </div>
         <div class="form-group col-lg-8">
            <span>
               <a>forget password?</a>
               <a>Sign up</a>
            </span>
         </div>
       </form>
    </div>
</div>

