<div class="container-fluid">
    <div id="main_parent">
        <div class="main_child">    
           <img [src]="mainImg" />
           <h1>
             {{Rate}}
             <span>%</span>
           </h1>
           <p>{{text}}</p>
        </div>
        <div class="main_child">
           <img [src]="mainUrl" />
           <h1>
                {{Rate}}
                <span>%</span>
              </h1>
              <p>{{text}}</p>
        </div>
        <div class="main_child">
            <img [src]="img" />
            <h1>
                    {{Rate}}
                    <span>%</span>
                  </h1>
                  <p>{{text}}</p>
        </div>
        <div class="main_child">
            <img [src]="pic" />
            <h1>
                    {{Rate}}
                    <span>%</span>
                  </h1>
                  <p>{{text}}</p>
        </div>
        <div class="main_child">
            <img [src]="mainImg" />
            <h1>
                    {{Rate}}
                    <span>%</span>
                  </h1>
                  <p>{{text}}</p>
        </div>
    </div>
</div>
