<div id="right_nav">
   <div class="right_nav_child">
         <div class="search_icon ">
            <i class="fa fa-search"></i>
         </div>
         <div class="work_bag_div ">
            <i class="fa fa-suitcase"></i>
         </div>
         <div class="login">
            <ul>
               <li><a href=""><i class="fa fa-user"></i></a></li>
               <li><a routerLink="login">login</a></li>
               /
               <li><a routerLink="registration">Register</a></li>
            </ul>
         </div>
         
   </div>
   <div class="nation col-sm-5">
      <span>
            <i class="fa fa-flag"></i>
      </span>
      <span>
         English
      </span>
      <span class="fa fa-angle-down"></span>
   </div>
</div>
