<div class="container">
  <h2>Registration Form</h2>
    <div class="form">
       <form>
         <div class="form-group col-lg-8">
              <label>Name</label>
             <input type="text" placeholder="name" class="form-control"/>
         </div>
         <div class="form-group col-lg-8">
              <label>Email</label>
             <input type="text" placeholder="email" class="form-control"/>
         </div>
         <div class="form-group col-lg-8">
             <label>password</label>
             <input type="text" placeholder="password" class="form-control"/>
         </div>
         <div class="form-group col-lg-8">
              <label>phone</label>
             <input type="text" placeholder="phone" class="form-control"/>
         </div>
         <div class="form-group col-lg-8">
              <label>Profile</label>
             <input type="file" placeholder="image" class="form-control"/>
         </div>
         <div class="form-group col-lg-8">
            <button class="btn btn-success">Sign up</button>
         </div>
       </form>
    </div>
</div>
